@use "variables" as *;

:host {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.chats-list-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  max-width: 400px;
  border-right: $separator-300;
}

.chat-container {
  flex: 4 1 auto;
  height: 100%;
}
