@use "variables" as *;

:host {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.chats-list-container {
  display: flex;
  flex-direction: column;
  width: calc(100vw / 4);
  min-width: 240px;
  max-width: 400px;
  border-right: $separator-300;
}

.chat-container {
  flex: 1;
  height: 100%;
}
