<div [ngSwitch]="notification.type" class="notification-container">
  <ng-container *ngSwitchCase="notificationType.NewFollower">
    <mds-profile-pic
      [pictureSrc]="profile.profilePictureURL"
      class="profile-pic"
      [userId]="notification.userId"
    ></mds-profile-pic>
    <div class="content">
      <span>
        <mds-username [username]="profile.username" [userId]="notification.userId"></mds-username>
        has started following you.
      </span>
      <div class="date">{{ dateFormatted }}</div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="notificationType.FollowRequest">
    <mds-profile-pic
      [pictureSrc]="profile.profilePictureURL"
      class="profile-pic"
      [userId]="notification.userId"
    ></mds-profile-pic>
    <div class="content">
      <span>
        <mds-username [username]="profile.username" [userId]="notification.userId"></mds-username>
        sent you a follow request.
        <button mat-button class="mat-primary" (click)="acceptFollowRequest(notification)">Accept</button>
      </span>
      <div class="date">{{ dateFormatted }}</div>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="notificationType.PostLike">
    <mds-profile-pic
      [pictureSrc]="profile.profilePictureURL"
      class="profile-pic"
      [userId]="notification.userId"
    ></mds-profile-pic>
    <div class="content">
      <span>
        <mds-username [username]="profile.username" [userId]="notification.userId"></mds-username>
        has liked your <mds-post [type]="'post'" [postId]="notification.content.id"></mds-post>
      </span>
      <div class="date">{{ dateFormatted }}</div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="notificationType.CommentLike">
    <mds-profile-pic
      [pictureSrc]="profile.profilePictureURL"
      class="profile-pic"
      [userId]="notification.userId"
    ></mds-profile-pic>
    <div class="content">
      <span>
        <mds-username [username]="profile.username" [userId]="notification.userId"></mds-username>
        has liked your <mds-post [type]="'comment'" [postId]="notification.content.id"></mds-post>
      </span>
      <div class="date">{{ dateFormatted }}</div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="notificationType.NewComment">
    <mds-profile-pic
      [pictureSrc]="profile.profilePictureURL"
      class="profile-pic"
      [userId]="notification.userId"
    ></mds-profile-pic>
    <div class="content">
      <span>
        <mds-username [username]="profile.username" [userId]="notification.userId"></mds-username>
        commented on your <mds-post [type]="'post'" [postId]="notification.content.id"></mds-post>
      </span>
      <div class="date">{{ dateFormatted }}</div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="notificationType.NewReply">
    <mds-profile-pic
      [pictureSrc]="profile.profilePictureURL"
      class="profile-pic"
      [userId]="notification.userId"
    ></mds-profile-pic>
    <div class="content">
      <span>
        <mds-username [username]="profile.username" [userId]="notification.userId"></mds-username>
        replied to your <mds-post [type]="'comment'" [postId]="notification.content.id"></mds-post>
      </span>
      <div class="date">{{ dateFormatted }}</div>
    </div>
  </ng-container>
</div>
